<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "section">
  <div id = "app">
  <div class ="holder headline">
  </div>
  <div class ="holder city">
   <h1>Travel planner</h1>
   <input type="text" id="city" placeholder="Your destination">
   <input type="date" id="dep-date" placeholder="departure date">
    <button id="generate" type = "submit"> Generate </button>
  </div>
   <div id ="to-do-list">
    <h3>Your organiser</h3>
    <input type="text" id="name" placeholder="I want to take with me">
    <span class="add-item" id="add-item">Add Item</span>

  <div class="list-items" id="list-items">
    <ul id="myCodes">
      <li class="item" id="item">Passport</li>
      <li class="item" id="item">Wallet</li>
    </ul>

    <span class="clear" id = "clear" value="Clear Items">Clear</span>
  </div>
  </div>
    <div class ="output">
    <label class = "title">
      <h2>Your trip details</h2></label>
    <div class= "response">
    <div id = "destination-img"></div>
    <div id= "icon"></div>
    <div class="entry">
    <div id = "entryHolder">
      <div id="long-lat">
        <div id = "longitude"></div> 
        <div id = "latitude"></div>
      </div>
      <div id="destination-city">
        <div id = "placename"></div>
        <div id = "country-name"></div>
      </div>
      <div id="date-temp">
        <div id = "description"></div>
        <div id = "temp"></div>
      </div>
      <div id="descr-countdown">
        <div id = "date"></div>
      <div id = "countdown-entry"></div>
      </div>
    </div>
  </div>
    </div>
  </div>
  </div>
  </div>
</div>
  </div>
<script>
   // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>

</body>
</html>

